<h1>Sign In</h1>

<%if flash[:errors] %>
<ul>
  <% flash[:errors].each do |error|%>
    <li>
        <%= error %>
    </li>
</ul>
<% end%>

<%#  can also be action='/session' %>
<form action=<%= session_url %> method="post">  <%# <---action is what action do you want it to hit when you submit the form----> %>
    <input type="hidden" name='authenticity_token' value='<%= form_authenticity_token %>'>
    
    <label> Username
      <input type='text' name='user[username]' value=''>
    </label>

    <label> Password
      <input type='password' name='user[password]' value=''>
    </label>

      <input type="submit" value='Sign In'>
</form>